# Dependências do Node
node_modules/

# Banco de Dados SQLite (geralmente não versionado)
*.db
*.db-journal

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Pastas de Build/Distribuição (se usar no futuro)
dist/
build/

# Arquivos de Editor/IDE (opcional)
.vscode/
.idea/